body{
    background: linear-gradient(#393939, #000);
    color: #7ee87e;
    font-size: 20px;
    font-family: "Terminal", "Arial";
}
#gamesection{
    width: 80%;
    margin: auto;
}
h1{
    font-size: 20px;
    clear: both;
}
#parser{
    width: 80%;
    height: 90%;
    overflow: hidden;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #7ee87e;
    resize: none;
    float: left;
}
#hunt-net{
    width: 20%;
    height: 90%;
    overflow: hidden;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #7ee87e;
    resize: none;
    float: right;
}
.choice{
    text-decoration: underline;
}